body {
	position: relative;
	background-color: black;
	margin: 0;
}
/* h2{
	color: white;
	padding-left: 20px;
	 font: 25pt Helvetica;
	padding-bottom: 0;
} */

.pageContent {
  position: relative;
  display: grid;
	/* background-color: white; */
}


.search {
	display: block;
  position: absolute;
  z-index: 9;
	top: 3%;
	left: 50%;
	transform: translate(-50%);
	text-align: center;
  width: 80%;
  height: 15px;
  padding: 10px;
}

.search input {
  width: 90%;
  height: 3%;
  font-size: 25px;
	box-sizing: content-box;
	padding: 3%;
	border: 1px solid #e6e6e6;
}

.search button {
  position: absolute;
  width: 7%;
  right: 50px;
  top: 65%;
  background-color: white;
  border: white;
}

#searchIcon {
	width: 50%;
}

#map {
  /* top: 2%; */
	border: none;
	width: 100%;
	overflow: hidden;
  height: 100vh;
  text-align: center;
}
