body {
	position: relative;
	background-color: black;
	margin: 0;
}

.pageContent {
  position: relative;
  display: grid;
	/* background-color: white; */
}


.search {
	display: block;
  position: absolute;
  z-index: 9;
	top: 3%;
	left: 50%;
	transform: translate(-50%);
	text-align: center;
  width: 80%;
  height: 15px;
  padding: 10px;
}

.search input {
  width: 90%;
  height: 3%;
  font-size: 25px;
	box-sizing: content-box;
	padding: 3%;
  border: 1px solid #e6e6e6;
  background-image: url(search-icon.png);
  background-position: 95% 50%;
  background-size: 20px;
  background-repeat: no-repeat;
}

.search button {
  position: absolute;
  width: 70px;
  height: 70px;
  right: 60px;
  /* top: 65%; */
  background-color: transparent;
  border: 0px white;
}

#searchIcon {
	width: 50%;
}

#map {
  /* top: 2%; */
	border: none;
	width: 100%;
	overflow: hidden;
  height: 100vh;
  text-align: center;
}
